.photocontainer {
   margin:0.25em;
   width:300px;
   height:600px;
   float:left;
}

.imagebuttons {
   position:relative;
   display:flex;
   height:0;
   justify-content: space-between;
     
}

.imagebuttons > .deletebutton {
  height:2em;
  margin:0.25em;

}

.imagebuttons > .likebutton {

  height:2em;
  margin:0.25em;

}

.thumbnail {
  object-fit: contain;
  width:300px;
}

.missing {
   background-color:LightPink
}
